__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

runs/
data/raw/*
data/interim/*
data/processed/*
data/scalers/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/scalers/.gitkeep

.DS_Store
